<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Google Font-->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
        <!-- Stylesheet-->
    <link rel="stylesheet" href="css/new.css">
    <title>GETFLIX</title>
</head>
<body>
    <form>
        <h1>NEW MOVIE</h1>
         <h6>Titulo</h6>
         <input type="text" placeholder="">
         <h6>Sinopse</h6>
         <input type="text" placeholder="">
         <h6>Duração</h6>
         <input type="text" placeholder="">
         <h6>Data Lançamento</h6>
         <input type="text" placeholder="">
         <h6>Categoria</h6>
         <input type="text" placeholder="">
         <button>ADD</button>
    </form>
 </body>
 </html>